* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
}

.logo img {
    width: 90px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(2, 191, 191); 
    text-decoration: underline;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    text-align: center;
}

.text p {
    margin: 5px 0;
    font-size: 14px;
    color: white;
    text-align: center;
}

.icons {
    margin-top: 10px;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    justify-content: endx;
}

.icons img:hover {
    transform: scale(1.1);
}



/*inicio*/

.text{
    text-align: center;
    margin-top: 20px;
}
.principal{
    text-align: center;
}

.principal img{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 30%;
}

.info{
    margin: 20px auto;
    max-width: 1100px;
    background-color:  white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    transition: transform 0.3s ease;

}

.info:hover {
    transform: scale(1.05);
}

p{
    text-align: justify;
    margin-top: 20px;
}
