* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
}

.logo img {
    width: 90px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(2, 191, 191); 
    text-decoration: underline;
}

.uno {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.foto {
    background-color: #f9f9f9;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.foto img {
    width: 50%; 
    height: 200px;
    object-fit: cover; 
    margin-bottom: 15px;
}

.foto:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.foto h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #000000;
}

.foto p {
    color: #000000;
    padding: 0 10px 15px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
}

.logo img {
    width: 90px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgb(2, 191, 191); 
    text-decoration: underline;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    text-align: center;
}

.text p {
    margin: 5px 0;
    font-size: 14px;
    color: white;
    text-align: center;
}

.icons {
    margin-top: 10px;
}

.icons a {
    margin: 0 10px;
}

.icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    justify-content: endx;
}

.icons img:hover {
    transform: scale(1.1);
}