body{
    background-color: white;
}

h1{
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    padding: 6px;
    background-color: aqua;
    margin: 20px;
}